.wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: var(--gap);
    z-index: 2;

    .swiper-wrap {
        position: relative;
        width: 100%;
        height: 100%;
    }

    swiper {
        width: 100%;
        height: 100%;
        // aspect-ratio: 1.666;
    }

    img {
        &.swiper-image {
            width: 100%;
            height: 100%;
            // aspect-ratio: 1;
            object-fit: cover;
            object-position: center center;
        }

        &.close-btn {
            position: absolute;
            right: calc(var(--gap) * 2);
            top: calc(var(--gap) * 2);
            width: 24px;
            aspect-ratio: 1;
            z-index: 1;
            cursor: pointer;
        }
    }
}
