svg {
    g.group {
        cursor: pointer;
        path {
            fill: transparent;
            // stroke-width: 5px;
            transition: 0.5s;
        }
        // circle {
        //     cursor: pointer;
        // }
        // text {
        //     cursor: pointer;
        // }

        &:hover {
            path.region {
                fill: var(--color-back);
                stroke: url(#Gradient3);
                stroke-width: 3px;
            }
        }
    }
}
