svg {
    g.group {
        path {
            fill: rgba(0, 0, 0, 0.02);
            stroke: rgba(0, 0, 0, 0.1);
            transition: 0.3s;
            cursor: pointer;
        }
        circle {
            cursor: pointer;
        }
        text {
            cursor: pointer;
        }

        &:hover {
            path {
                fill: rgba(0, 0, 0, 0.06);
            }
        }
    }
}
