<div *ngIf="item$ |async as place" class="wrap col" @titleAnimation>
    <h2>
        <a [routerLink]="['/admin', 'regions']"> Регионы </a>
        <span> / </span>
        <a [routerLink]="['/admin', 'regions', place.regionId, 'places']"> {{place.regionName}}: Населенные пункты </a>
        <span> / </span>
        {{ place.name }}
    </h2>

    <app-place-form [imageRest]="imageRest" [place]="place" [regions]="regions$ |async" [formState]="formState"
        (onSubmit)="submit($event)">
    </app-place-form>
</div>

<ng-template #inProgress>
    <in-progress></in-progress>
</ng-template>