<div *ngIf="item$ |async as project; else inProgress" class="wrap col" @titleAnimation>
    <h2>
        <a [routerLink]="['/admin', 'regions']"> Регионы </a>
        <span> / </span>
        <a [routerLink]="['/admin', 'regions', project.regionId, 'places']">
            {{project.regionName}}: Населенные пункты
        </a>
        <span> / </span>
        <a [routerLink]="['/admin', 'regions', project.regionId, 'places', project.placeId, 'projects']">
            {{project.placeName}}: Проекты
        </a>
        <span> / </span>
        {{project.name}}
    </h2>

    <app-project-form [project]="project" [places]="places$ |async" [projectTypes]="projectTypes$ |async"
        [formState]="formState" (onSubmit)="submit($event)"></app-project-form>

</div>

<ng-template #inProgress>
    <in-progress></in-progress>
</ng-template>