<div class="wrap col" @titleAnimation>
    <h2>
        <a [routerLink]="['/admin', 'regions']"> Регионы </a>
        <span> / </span>
        <a [routerLink]="['/admin', 'regions', '[RegionID]', 'places']"> [Region name]: Населенные пункты </a>
        <span> / </span>
        <a [routerLink]="['/admin', 'regions', '[RegionID]', 'places', '[PlaceID]', 'projects']">
            [Place name]: Проекты
        </a>
        <span> / </span>
        {{(item$ |async)?.name}}
    </h2>

    <form *ngIf="form; else inProgress" [formGroup]="form" (ngSubmit)="submit()" class="col">

        <div class="form-item">
            <label> Наименование <strong> * </strong> </label>
            <input type="text" formControlName="name">
        </div>
        <div class="form-item">
            <label> Краткое описание </label>
            <textarea formControlName="brief" rows="6"></textarea>
        </div>
        <div class="form-item">
            <label> Полное описание <strong> * </strong> </label>
            <textarea formControlName="description" rows="6"></textarea>
        </div>

        <div class="form-item">
            <label> Востребованность <strong> * </strong> </label>
            <input type="text" formControlName="people">
        </div>
        <div class="form-item">
            <label> Время работ <strong> * </strong> </label>
            <input type="text" formControlName="calendar">
        </div>
        <div class="form-item">
            <label> Финансирование <strong> * </strong> </label>
            <input type="number" formControlName="costs">
        </div>

        <button type="submit" [disabled]="form.invalid || formState.state === State.InProgress">
            <ng-container *ngIf="formState.state !== State.InProgress"> Сохранить </ng-container>
            <ng-container *ngIf="formState.state === State.InProgress">
                <in-progress [size]="16"></in-progress>
            </ng-container>
        </button>

        <form-state [formState]="formState"></form-state>

    </form>
</div>

<ng-template #inProgress>
    <in-progress></in-progress>
</ng-template>