<div *ngIf="place$ | async as place" class="wrap col" @titleAnimation>
    <h2>
        <a [routerLink]="['/admin', 'regions']"> Регионы </a>
        <span> / </span>
        <a [routerLink]="['/admin', 'regions', place.regionId, 'places']"> {{place.regionName}}: Населенные пункты </a>
        <span> / </span>
        {{place.name}}: Проекты
    </h2>

    <div class="row">
        <button [routerLink]="['add']"> Добавить </button>
    </div>

    <table>
        <tr *ngFor="let p of place.projects">
            <td> {{p.name}} </td>
            <td>
                <a [routerLink]="[p.id]"> Редактировать </a>
            </td>
            <td>
                <a [routerLink]="[p.id, 'before']"> Фото до </a>
            </td>
            <td>
                <a [routerLink]="[p.id, 'after']"> Фото после </a>
            </td>
        </tr>
    </table>

    <div *ngIf="!place.projects.length" class="msg warning">
        Список пуст
    </div>
</div>