<div *ngIf="region$ |async as region; else inProgress" class="wrap row" @titleAnimation>
    <div class="left col">
        <a *ngFor="let place of region.places" [routerLink]="['/place', place.id]" class="place row">
            <img [src]="place.image.medium" alt="GERB">
            <div class="info col">
                <p> {{place.name}} </p>
                <p> {{place.brief}} </p>
                <div class="object-types row">
                    <div *ngFor="let pt of place.projectTypes" class="object-types-item row">
                        <div class="circle x{{pt.id}}"></div>
                        <span> {{pt.name}} </span>
                    </div>
                </div>
            </div>
        </a>
        <!-- <a [routerLink]="['/place']" *ngFor="let item of [1,2,3,4,5,6,7]" class="place row">
            <img src="/assets/images/gerb.png" alt="GERB">
            <div class="info col">
                <p> [PLACE NAME] </p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla. </p>
                <div class="object-types row">
                    <div *ngFor="let ot of [1,2,3,4]" class="object-types-item row">
                        <div class="circle x{{ot}}"></div>
                        <span> [Project type] </span>
                    </div>
                </div>
            </div>
        </a> -->
    </div>
    <div class="right col">
        <div class="title col">
            <h2> КАРТА БЛАГОТВОРИТЕЛЬНОСТИ </h2>
            <h1> {{region.name}} </h1>
        </div>
        <div class="text col">
            <p *ngFor="let p of region.description.split('\n')" class="indented"> {{p}} </p>
        </div>

    </div>
</div>

<ng-template #inProgress>
    <div class="center">
        <in-progress></in-progress>
    </div>
</ng-template>