<div class="wrap col" @titleAnimation>
    <h2> Регионы </h2>

    <table *ngIf="regions$ |async as regions; else inProgress">
        <tr *ngFor="let r of regions">
            <td> {{r.name}} (ID {{r.id}})</td>
            <td>
                <a [routerLink]="[r.id]"> Редактировать </a>
            </td>
            <td>
                <a [routerLink]="[r.id, 'places']"> Населенные пункты </a>
            </td>
        </tr>
    </table>

    <ul class="regions col">
        <li class="row">
            <div class="name"></div>
        </li>
    </ul>

    <hr>

    <h2> Информация на главной </h2>
    <table>
        <tr>
            <td>
                <a [routerLink]="['/admin', 'regions', 'info-edit']"> Редактировать </a>
            </td>
        </tr>
    </table>

    <hr>

    <h2> Менеджер картинок </h2>
    <table>
        <tr>
            <td>
                <a [routerLink]="['/admin', 'regions', 'image-manager']"> Управлять TODO: </a>
            </td>
        </tr>
    </table>
</div>


<ng-template #inProgress>
    <in-progress></in-progress>
</ng-template>