<div class="wrap col" @titleAnimation>
    <h2> Регионы </h2>

    <table>
        <tr *ngFor="let r of regions$ |async">
            <td> Region {{r.name}} (ID {{r.id}})</td>
            <td>
                <a [routerLink]="[r.id]"> Редактировать </a>
            </td>
            <td>
                <a [routerLink]="[r.id, 'places']"> Населенные пункты </a>
            </td>
        </tr>
    </table>

    <ul class="regions col">
        <li class="row">
            <div class="name"></div>
        </li>
    </ul>
</div>