.wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 80px var(--gap);
  background-color: var(--color-back);
  z-index: 2;

  .top {
    // justify-content: space-between;

    button {
      height: 32px;
      border-radius: 4px;
      background-color: transparent;
      border: solid 1px white;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 0 24px;
      color: var(--color-red);
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        box-shadow: inset 0 0 8px 0 rgba($color: #000000, $alpha: 0.02);
        // border-color: var(--color-grey-light);
      }

      img {
        width: 24px;
        aspect-ratio: 1;
      }
    }
  }

  input.search {
    width: calc(var(--c_1) * 6 + var(--gap) * 3);
  }

  a {
    color: var(--color-blue);
    cursor: pointer;
  }
}
