<div class="back center">

    <div class="wrap">
        <h3> О проекте </h3>

        <p>
            Нити трубопроводов АО «Транснефть — Верхняя Волга» тянуться через 14 регионов нашей страны. Зачастую станции
            находятся отдаленно от региональных центров и высокоразвитой инфраструктуры, что, к сожалению, сказывается
            на уровне жизни местного населения.
        </p>
        <p>
            Детские сады, школы, дома культуры — важные компоненты социального развития общества — в таких местах
            нуждаются в реконструкции, обновлении, ремонте.
        </p>
        <p>
            Мы это понимаем! Также как и понимаем тот факт, что не всегда под контроль государственных органов попадают
            тысячи таких объектов.
        </p>
        <p>
            Карта благотворительности отражает те проекты, в которых принимала участие «Верхняя Волга». Пусть это лишь
            малая часть «обделенных вниманием» уголков России, но всё-таки с нашим участием мир становится чуточку
            лучше.
        </p>

        <button type="button" (click)="close()"> Великолепно! </button>
    </div>

</div>