<div class="wrap col">
  <header>
    <img [routerLink]="['/']" src="/assets/images/logo.png" class="logo" alt="LOGO">

    <input type="text" class="search" placeholder="Начните вводить наименование">
  </header>
  <nav *ngIf="navVisible$ |async" @titleAnimation>
    <a class="back-btn row" (click)="back()">
      <img src="/assets/icons/back.svg" alt="BACK">
      <span> Назад </span>
    </a>

    <a [routerLink]="['/']"> На карту </a>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>

  <div class="gradient"></div>
</div>