<div *ngIf="place$ |async as place; else inProgress" class="wrap row" @titleAnimation>
    <div class="left col">
        <a *ngFor="let project of place.projects" [routerLink]="['/project', project.id]" class="project row">
            <img [src]="getMainImage(project?.images?.after, project.mainImageId, project.projectTypeId).large"
                alt="PROJECT_PICTURE">
            <div class="info col">
                <p class="name"> {{project.name}} </p>
                <p> {{project.brief}}.</p>
            </div>
        </a>
    </div>
    <div class="right col">
        <div class="title col">
            <h2> КАРТА БЛАГОТВОРИТЕЛЬНОСТИ </h2>
            <h1> {{place.name}} </h1>
        </div>
        <div class="text col">
            <p *ngFor="let p of place.description.split('\n')" class="indented"> {{p}} </p>
        </div>
    </div>
</div>

<ng-template #inProgress>
    <div class="center">
        <in-progress></in-progress>
    </div>
</ng-template>