<div class="wrap row" @titleAnimation>
    <div class="left col">
        <a [routerLink]="['/project']" *ngFor="let item of [1,2,3,4,5,6,7]" class="project row">
            <img [src]="'/assets/fake/category' + item + '.jpg'" alt="PROJECT_PICTURE">
            <div class="info col">
                <p> [PROJECT NAME] </p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p> Ipsum dolor sit amet consectetur adipisicing elit. Minus voluptas illo totam dolores explicab.</p>
            </div>
        </a>
    </div>
    <div class="right col">
        <div class="title col">
            <h2> КАРТА БЛАГОТВОРИТЕЛЬНОСТИ </h2>
            <h1> [БАЛАХОНИХА] </h1>
        </div>
        <div class="text col">
            <p class="indented">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptas illo totam dolores explicabo
                asperiores.
            </p>
            <p class="indented">
                Earum eaque rerum atque amet ipsa provident tenetur molestiae laborum exercitationem reiciendis
                mollitia
                rem!
            </p>
        </div>
    </div>
</div>